SET ARITHABORT ON
SET NUMERIC_ROUNDABORT OFF
SET CONCAT_NULL_YIELDS_NULL ON
SET ANSI_WARNINGS ON
SET NOCOUNT ON
SET XACT_ABORT ON
GO

-- Create Table [dbo].[Region]
Print 'Create Table [dbo].[Region]'
GO
SET ANSI_NULLS ON
SET QUOTED_IDENTIFIER ON
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Region] (
		[RegionID]              [int] NOT NULL,
		[RegionDescription]     [nchar](50) NOT NULL,
		CONSTRAINT [PK_Region]
		PRIMARY KEY
		NONCLUSTERED
		([RegionID])
	ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Region] SET (LOCK_ESCALATION = TABLE)
GO

